body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=submit],button {
  background: #01814e;
  border: 1px solid #01814e;
  font-size: 16px;
  font-family: verdana;
  color: #fff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 500ms;
}

input[type=submit],button:hover {
  border: 1px solid #333;
  background: rgba(1, 129, 78, 0.6) /*background: #54A769;*/;
}